/* Pixel style for the calendar */
.react-calendar {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid #9c27b0 !important;
    background-color: #fce4ec !important;
    box-shadow: 6px 6px 0px 0px #7b1fa2;
    padding: 10px;
    border-radius: 0;
}

.react-calendar__navigation button {
    font-family: 'Press Start 2P', cursive;
    color: #4a148c;
    background-color: #fce4ec;
}

.react-calendar__tile {
    font-family: 'Press Start 2P', cursive;
    background: none;
    border-radius: 0;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
    background-color: #e91e63 !important;
    color: white !important;
}

.react-calendar__tile.has-task {
    background-color: #b39ddb; /* A lighter purple for days with tasks */
    color: white;
}